# macOS
.DS_Store

# iOS/Xcode: user-specific settings and build artifacts
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcuserstate

# Xcode workspace shared settings cache
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives and symbols
*.ipa
*.dSYM.zip
*.dSYM